// All affinity colours are listed here
.affinity-universal {
    color: #ccc;
}

.affinity-corruption {
    color: #7d005e;
}

.affinity-intellect {
    color: #17a8e0;
}

.affinity-growth {
    color: #7dab1a;
}

.affinity-order {
    color: #e5c174;
}

.affinity-fury {
    color: #c92a22;
}