.anim-pulse {
    animation: pulse 3s infinite linear;
}

.anim-flash {
    animation: flash 1s infinite linear;
}

.anim-fadeIn {
    animation: fadeIn 1s normal;
}

.anim-flicker {
    animation: flicker 10s normal infinite;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes pulse {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes flash {
    0%   { opacity: 0; }
    25%  { opacity: 1; }
    75%  { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes flicker {
    0.0% {
        transform: translateX(0);
        opacity: 1
    }
    7% {
        transform: translateX(0);
        opacity: 1
    }
    7.5% {
        transform: translateX(-1px);
        opacity: .75
    }
    7.75% {
        transform: translateX(2px);
        opacity: .65
    }
    8.0% {
        transform: translateX(1px);
        opacity: 1
    }
    8.25% {
        transform: translateX(0);
        opacity: 1
    }
    8.5% {
        transform: translateX(-2px);
        opacity: .5
    }
    8.75% {
        transform: translateX(0);
        opacity: 1
    }
    10.25% {
        opacity: 1
    }
    10.5% {
        opacity: .75
    }
    100%,
    10.75% {
        opacity: 1
    }
}