$pgg-version: "1.0.0";

@font-face {
    font-family: "paragongg";
    src:url("/assets/fonts/paragongg.eot");
    src:url("/assets/fonts/paragongg.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/paragongg.woff") format("woff"),
    url("/assets/fonts/paragongg.ttf") format("truetype"),
    url("/assets/fonts/paragongg.svg#paragongg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "paragongg" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="pgg-"]:before,
[class*=" pgg-"]:before {
    font-family: "paragongg" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pgg {
    //display: inline-block;
    //font-size: inherit; // can't have font-size inherit on line above, so need to override
    //text-rendering: auto; // optimizelegibility throws things off #1094
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
    //font-family: "ParagonGG";

    &.pgg-energy-damage:before {
        content: "\61";
    }
    &.pgg-physical-armor:before {
        content: "\68";
    }
    &.pgg-armor-penetration:before {
        content: "\6c";
    }
    &.pgg-movement-speed:before {
        content: "\6f";
    }
    &.pgg-energy-armor:before {
        content: "\70";
    }
    &.pgg-cleave:before {
        content: "\71";
    }
    &.pgg-max-health:before {
        content: "\72";
    }
    &.pgg-physical-damage:before {
        content: "\73";
    }
    &.pgg-arrow-left:before {
        content: "\74";
    }
    &.pgg-physical-penetration:before {
        content: "\75";
    }
    &.pgg-arrow-right:before {
        content: "\76";
    }
    &.pgg-max-mana:before {
        content: "\77";
    }
    &.pgg-attack-speed:before {
        content: "\78";
    }
    &.pgg-harvester-placement-time:before {
        content: "\79";
    }
    &.pgg-health-regeneration:before {
        content: "\7a";
    }
    &.pgg-cooldown-reduction:before {
        content: "\41";
    }
    &.pgg-critical-strike-damage:before {
        content: "\42";
    }
    &.pgg-lifesteal:before {
        content: "\43";
    }
    &.pgg-mana-regeneration:before {
        content: "\44";
    }
    &.pgg-critical-strike-chance:before {
        content: "\45";
    }
    &.pgg-affinity-universal:before {
        content: "\47";
    }
    &.pgg-affinity-order:before {
        content: "\48";
    }
    &.pgg-affinity-intellect:before {
        content: "\49";
    }
    &.pgg-affinity-fury:before {
        content: "\4a";
    }
    &.pgg-affinity-growth:before {
        content: "\4b";
    }
    &.pgg-affinity-corruption:before {
        content: "\4c";
    }
    &.pgg-paragon-logo:before {
        content: "\63";
    }
    &.pgg-amber:before {
        content: "\64";
    }
    &.pgg-epic-games-logo:before {
        content: "\62";
    }
    &.pgg-tower:before {
        content: "\65";
    }
    &.pgg-skull:before {
        content: "\66";
    }
    &.pgg-ranger:before {
        content: "\67";
    }
    &.pgg-support:before {
        content: "\69";
    }
    &.pgg-tank:before {
        content: "\6a";
    }
    &.pgg-fighter:before {
        content: "\6b";
    }
    &.pgg-assassin:before {
        content: "\6d";
    }
}

&.pgg.affinity-color {
    &.pgg-affinity-universal {
        color: $color-universal;
    }
    &.pgg-affinity-fury {
        color: $color-fury;
    }
    &.pgg-affinity-intellect {
        color: $color-intellect;
    }
    &.pgg-affinity-order {
        color: $color-order;
    }
    &.pgg-affinity-corruption {
        color: $color-corruption;
    }
    &.pgg-affinity-growth {
        color: $color-growth;
    }


}