// Media
$media-tablet : 1050px;
$media-mobile : 750px;
$media-desktop : 1400px;

.hide-wide {
  @media (min-width: $media-desktop) {
    display: none !important;;
  }
}
.hide-desktop {
  @media (min-width: $media-tablet+1) and (max-width: $media-desktop) {
    display: none !important;;
  }
}
.hide-tablet {
  @media (min-width: $media-mobile+1) and (max-width: $media-tablet) {
    display: none !important;
  }
}
.hide-mobile {
  @media (max-width: $media-mobile) {
    display: none !important;
  }
}