// Colours
$background: #0b0d12;
$primary-highlight: #ff6600;
$secondary-highlight: #42A9E8;
$tertiary-highlight: #dbbd68;
$faded-line: #343a4a;
$font-color-base: #cccccc;
$font-color-emphasis: white;
$font-color-highlight: $secondary-highlight;
$font-color-faded: #5a606f;
$panel-color: #181d27;
$panel-color-dark: #0d1016;

$green: #84D400;

// Fonts
$font-body: "Roboto", Arial, sans-serif;
$font-condensed: "Roboto Condensed", sans-serif;
$font-nav: "Roboto Condensed", sans-serif;
$font-line-height: 130%;

// Media