// Colours
$background: #0b0d12;
$primary-highlight: #ff6600;
$secondary-highlight: #288fce;
$faded-line: #343a4a;
$font-color-base: #dddddd;
$font-color-emphasis: white;
$font-color-highlight: $secondary-highlight;
$font-color-faded: #5a606f;
$panel-color: #181d27;
$panel-color-dark: #0d1016;

// Fonts
$font-body: "proxima-nova", Arial, sans-serif;
$font-condensed: "proxima-nova-condensed", sans-serif;
$font-nav: "nimbus-sans-condensed", sans-serif;
$font-line-height: 130%;

// Media
