.article-header {
    width: 100%;
    margin-bottom: 30px;
    img {
        width: 100%;
        vertical-align: middle;
    }
}

article {
    margin-right: 400px;
    padding-bottom: 50px;
    .article-details {
        color: $font-color-faded;
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid $faded-line;
    }
    .article-body {
        font-size: 110%;
    }
    h1 {
        background: -webkit-linear-gradient(#fff, #bbb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p {
        line-height: 150%;
        a {
            color: $secondary-highlight;
            &:hover {
                border-bottom: 1px dotted $secondary-highlight;
            }
        }
    }
}

.toc {
    font-size: 14px;
    li {
        margin-bottom: 0;
    }
    a {
        display: block;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    ul {
        border-left: 1px solid $faded-line;
    }
    li {
        list-style-type: decimal-leading-zero;
        list-style-position: inside;
    }
    ul ul {
        margin-left: 10px;
    }
}

@media screen and (max-width: $media-tablet) {

}

@media screen and (max-width: $media-mobile) {
    .article-preview {
        width : 100%;
    }
}
