.article-header {
    width: 100%;
    height: 400px;
    margin-bottom: 60px;
    position: relative;
    img {
        width: 100%;
        height: 400px;
        vertical-align: middle;
    }
    .title-wrapper {
        position: absolute;
        bottom: 30px;
        left: 30px;
        background: rgba(0,0,0,0.8);
    }
    h1 {
        display: inline-block;
        padding: 10px 25px;
        background: -webkit-linear-gradient(#fff, #bbb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.post-details {
    display: block;
    color: $font-color-faded;
    font-family: $font-condensed;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 20px;
    line-height: 18px;
}
article {
    padding-bottom: 150px;
    max-width: 800px;
    .article-body {
        font-size: 110%;
    }
    h1,h2,h3 {
        &:after {
            content: '';
            display: block;
            width: 70px;
            margin: 20px 0;
            height: 1px;
            border-top: 1px solid $faded-line;
        }
    }
    h1 {
        background: -webkit-linear-gradient(#fff, #bbb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p {
        line-height: 150%;
        a {
            color: $secondary-highlight;
            &:hover {
                border-bottom: 1px dotted $secondary-highlight;
            }
        }
    }
}

.toc {
    font-size: 14px;
    li {
        margin-bottom: 0;
    }
    a {
        display: block;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    ul {
        border-left: 1px solid $faded-line;
    }
    li {
        list-style-type: decimal-leading-zero;
        list-style-position: inside;
    }
    ul ul {
        margin-left: 10px;
    }
}

@media screen and (max-width: $media-tablet) {

}

@media screen and (max-width: $media-mobile) {
    .article-preview {
        width : 100%;
    }
}
