$card-width : 135px;
$card-height : 180px;
#cards-feed {

    min-height: 600px;

    .filter-wrapper {
        position: relative;
    }

    h2 {
        margin-bottom: 0px;
    }
    h5 {
        color: $font-color-faded;
        margin-bottom: 30px;
    }
    .card-preview {
        z-index: 1;
        display: inline-block;
        margin-right: 12px;
        margin-bottom: 12px;
        width: $card-width;
        height: $card-height;
        background-size: $card-width $card-height;
        position: relative;
        cursor: pointer;
        user-select: none;
        &.missing {
            opacity: 0.3;
        }
        .card-name {
            color: white;
            position: absolute;
            bottom: 25px;
            padding: 0 10px;
            width: 100%;
            font-size: 12px;
            text-align: center;
            line-height: 13px;
        }
        &.devoid {
            opacity: 0.3;
        }
        &:hover {
            opacity: 1;
            //filter: brightness(1.3);
        }
    }
}