.deck-builder {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid $faded-line;
}
.deck-list {
    overflow-x: hidden;
    position: relative;
    margin-top: 20px;
    font-family: $font-condensed;
    font-size: 14px;
    .deck-list-actions {
        margin-bottom: 20px;
        .deck-total {
            color: $font-color-faded;
            text-transform: uppercase;
            padding-top: 11px;
            float: right;
        }
    }
    li {
        position: relative;
        z-index: 10;
        &.pulse-card-outer {
            animation: pulse-card-with-outer-glow 500ms linear;
        }

        .delete-icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            transition: opacity 250ms;
            opacity: 0;
            font-size: 16px;
        }

        margin-bottom: 0;
        background: $panel-color-dark no-repeat;
        background-position-y: -80px;
        background-size: 330px 330px;
        cursor: pointer;
        user-select: none;
        border: 1px solid $panel-color-dark;
        transition: border 200ms;
        left: 0;
        &.selected {
            .delete-icon {
                right: -40px;
                opacity: 1;
            }
            border: 1px solid $tertiary-highlight;
            left: -40px;
        }
        &:hover {
            .wrapper {
                background: rgba($panel-color-dark,0.2);
            }
        }
    }
    .wrapper {
        position: relative;
        z-index: 10;
        background: rgba($panel-color-dark,0.7);
        padding: 13px 10px;
        transition: background 0.1s;

        &.pulse-card-inner {
            animation: pulse-card-with-inner-glow 500ms linear;
        }
    }
    .count, .cost {
        color: $font-color-faded;
    }
    .name {
        color: $font-color-emphasis;
        padding: 0 10px;
        text-transform: uppercase;
    }
    .cost {
        float: right;
    }
}