.deck-builder {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid $panel-color-dark;
}
.deck-list {
    overflow-x: hidden;
    position: relative;
    margin: 10px 0px 20px 0px;
    font-family: $font-condensed;
    font-size: 14px;

    .wrapper {
        &.intro-row {
            span {
                font-size: 1em;
                line-height: 1.4em;
                padding: 5px;
                display: block;
            }
        }
        &.with-background {
            background-size: 110%;
            background-repeat: no-repeat;
            background-position-x: 50%;
            background-position-y: 20%;
            padding: 15px 20px;
            border: 1px solid $faded-line;

            &.selected {
                border: 1px solid $tertiary-highlight;
            }

            &:hover {
                background-size: 110%;
                background-repeat: no-repeat;
                background-position-x: 50%;
                background-position-y: 20%;

                &:before {
                    background: rgba(0, 0, 0, 0.5);
                }
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.75);
                transition: background 250ms ease-in-out;
            }

            .delete-build-wrapper {
                display: none;
                right: 0;
                font-size: 18px;
                top: 0;
                color: white;
                position: absolute;
                background: $primary-highlight;
                padding: 40px 10px;
                height: 100%;

                &.visible {
                    display: inline-block;
                    z-index: 10;
                }
            }
        }
    }

    .slot-icon-container {
        height: 50px;
        position: relative;
        left: -6px;
        z-index: 1;

        .slot-icon-wrapper {
            display: inline-block;
            width: 34px;
            height: 34px;
            margin-right: 10px;
            position: relative;
            border-radius: 50%;
            top: 10px;
            opacity: 0.3;
            box-shadow: 0 0 5px #000;
            transition: all 300ms ease-in-out;

            &.active {
                opacity: 1.0;
            }

            .slot-icon {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-size: 150% auto;
                overflow: hidden;
                border-radius: 50%;
                background-position-y: 5%;
                background-position-x: 50%;
                transition: all 300ms ease-in-out;
            }

            .upgrade-badge {
                position: absolute;
                bottom: -5px;
                right: -5px;
                border-radius: 50%;
                padding: 3px 1px;
                margin: 0;
                width: 20px;
                text-align: center;
                height: 20px;
                z-index: 10;
                font-size: 0.9em;
                border: 1px solid $panel-color;
                background: $panel-color-dark;
            }
        }
    }

    .create-build {
        margin-top: 20px;

        .dotted-button {
            text-align: center;
            overflow: hidden;
            padding: 15px;
            border: 1px dashed #fff;
            color: #fff;
            transition: all 100ms ease-in-out;

            &:hover {
                background: #181d27;
            }
        }
    }

    .deck-list-actions {
        margin-bottom: 20px;
        .deck-total {
            color: $font-color-faded;
            text-transform: uppercase;
            padding-top: 11px;
            float: right;
        }
    }
    li {
        position: relative;
        overflow-x: hidden;
        z-index: 10;

        &.build-item {
            border: none;
        }
        &.pulse-card-outer {
            animation: pulse-card-with-outer-glow 500ms linear;
        }

        .delete-icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 100%;
            top: 0;
            position: absolute;
            right: 0;
            z-index: 1;
            transition: opacity 250ms;
            opacity: 0;
            font-size: 16px;
        }

        margin-bottom: 0;
        background: $panel-color-dark no-repeat;
        background-position-y: -80px;
        background-size: 330px 330px;
        cursor: pointer;
        user-select: none;
        border: 1px solid $panel-color-dark;
        transition: border 200ms;
        left: 0;

        .title {
            text-transform: uppercase;
            position: relative;
            z-index: 2;
            background: rgba(0,0,0,0.4);
            padding: 4px 10px;
            left: -20px;
            top: -2px;
        }

        &.selected {
            border: 1px solid $tertiary-highlight;
            .delete-icon {
                opacity: 1;
                z-index: 100;
                background: $primary-highlight;
                color: #fff;
            }
            .wrapper {
                background: rgba($panel-color-dark,0.2);
            }
        }

        &.disabled {
            opacity: 0.6;

            .name {
                text-decoration: line-through;
                font-weight: 100;
                font-style: italic;
                font-family: Roboto;
                font-size: 0.9em;
            }

            &:hover {
                .wrapper {
                    background: rgba(0,0,0,0.8);
                }
            }

            .wrapper {
                background: rgba(0,0,0,0.9);
            }
        }

        &:hover {
            .wrapper {
                background: rgba($panel-color-dark,0.2);
            }
        }
    }
    .wrapper {
        position: relative;
        z-index: 10;
        background: rgba($panel-color-dark,0.7);
        padding: 13px 10px;
        transition: background 0.1s;

        &.pulse-card-inner {
            animation: pulse-card-with-inner-glow 500ms linear;
        }
    }
    .count, .cost {
        color: $font-color-faded;
    }
    .name {
        color: $font-color-emphasis;
        padding: 0 10px;
        text-transform: uppercase;
    }
    .cost {
        float: right;
    }
}

.create-success {
    max-width: 800px;
    margin: 100px auto 0 auto;
    background: $panel-color-dark;
    border: 1px solid #222;
    box-shadow: 0px 0px 50px 50px #000;
    padding: 30px;
    text-align: center;
    h3 {
        color: $tertiary-highlight;
    }
    .copypasta {
        margin-top: 20px;
    }
}

@media screen and (max-width: $media-tablet) {
    .deck-list {
        li {
            .title {
                left: -10px;
            }
            .delete-icon {
                width: 60px;
            }
        }
    }
}

// iPHONE 5 and small phones
@media screen and (max-width: 350px) {
    .sidebox {
        .deck-list {
            .slot-icon-container {
                left: 5px;
                .slot-icon-wrapper {
                    width: 28px ;
                    height: 28px;
                    top: 20px;

                    .slot-icon {

                    }

                    .upgrade-badge {

                    }
                }
            }
        }
    }
}