.discussion {
    .details {
        .user-avatar {
            width: 18px;
            height: 18px;
            margin-right: 10px;
        }
        .username {
            color: white;
        }
        .created_at {
            margin-left: 10px;
            font-family: $font-condensed;
            font-size: 14px;
            color: $font-color-faded;
        }
    }
    .original-post {
        border-bottom: 1px solid $faded-line;
        h5 {
            color: $font-color-faded;
            font-size: 14px;
            .fa {
                color: $green;
            }
        }
        .best-answer {
            margin: 50px 0 50px 30px;
            .discussion-response {
                margin: 0;
                border-left: 1px solid $green;
            }
        }
        .details {
            margin-bottom: 20px;
            .user-avatar {
                width: 18px;
                height: 18px;
            }
        }
    }
    .create-post {
        float: right;
    }
    .post-response {
        margin-top: 100px;
        form {
            margin: 0 auto;
        }
    }
    .listbox {
        .user-avatar {
            width: 42px;
            height: 42px;
        }
        .details {
            font-size: 14px;
        }
        .content {
            font-size: 22px;
            font-weight: bold;
        }
    }
    .article-body {
        padding-bottom: 30px;
        font-size: 18px;
        line-height: 24px;
    }
    .discussion-response {
        border: 1px solid $faded-line;
        background: $panel-color-dark;
        margin: 50px 0;
        &:hover {
            border-color: $faded-line;
        }
        .details {
            font-size: 16px;
            background: $panel-color;
            padding: 15px;
        }
        .mark-best-answer {
            float: right;
            font-size: 14px;
            font-family: $font-condensed;
            color: $font-color-faded;
            &:hover {
                color: $green;
            }
        }
        .body {
            font-size: 16px;
            line-height: 24px;
            padding: 20px;
        }
    }
}
