footer {
    border-top: 1px solid $faded-line;
    background: rgba(0,0,0,0.7);
    padding: 30px 0;
    text-align: center;
    font-size: 12px;
    color: $font-color-faded;

    position: absolute;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
    z-index: 1;
    @media (max-width: $media-mobile) {
        font-size: 14px;
        margin-top: 20px;
        padding: 30px;
        height: auto;
    }
}
