footer {
    border-top: 1px solid $faded-line;
    //background: rgba(0,0,0,0.5);
    padding: 30px 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    bottom: 0;
    color: $font-color-faded;
}
