#guides-feed, #decks-feed {
    margin: 20px 0;
    .guide-preview, .deck-preview {
        display: block;
        width: 100%;
        min-height: 80px;
        padding: 20px 0;
        border-bottom: 1px solid $faded-line;
        transition: all 0.2s;
        &:hover {
            background: rgba($panel-color-dark, 0.4);
            padding-left: 20px;
            color: white;
        }
        .guide-details, .deck-details {
            .title {
                margin-bottom: 7px;
            }
            .details {
                color: $font-color-faded;
                .emphasis {
                    color: $font-color-base;
                }
            }
            .stats {
                font-family: $font-condensed;
                color: white;
                font-size: 12px;
                text-transform: uppercase;
                margin-top: 12px;
                .stat {
                    display: inline-block;
                    background: $panel-color-dark;
                    padding: 8px 10px;
                    margin-right: 10px;
                    .fa {
                        margin-right: 5px;
                    }
                    &.featured {
                        background: $secondary-highlight;
                    }
                    &.new {
                        background: $primary-highlight;
                    }
                    &.updated {
                        background: $faded-line;
                    }
                }
            }
        }
        @media (max-width: $media-mobile) {
            .guide-details {
                .details {
                    clear: left;
                    padding-top: 10px;
                    line-height: 22px;
                }
            }
            .guide-hero {
                img, .preload-container img {
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }
    .guide-hero, .deck-hero {
        float: left;
        margin-right: 20px;
        .preload-container {
            .spinner-container {
                position: absolute;
            }
            img {
                position: relative;
                width: 96px;
                height: 96px;
                border-radius: 5px;
            }
        }
    }
}

.draft-mode {
    background: $panel-color;
    position: fixed;
    bottom: 0;
    padding: 20px;
    width: 100%;
    max-width: 1350px;
    z-index: 1999;
    text-align: center;
    color: $tertiary-highlight;
}

.switcher {
    float: right;
    margin-top: 15px;
    @media (max-width: $media-mobile) {
        float: none;
    }
}