.featured-wrapper {
    margin-bottom: 100px;
    @media (max-width: $media-mobile) {
        margin-bottom: 60px;
    }
    .panel-title {
        position: absolute;
        bottom: 0;
        width: 100%;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#111111+0,111111+100,0d1016+100&0+0,0.9+50,0.9+100 */
        background: -moz-linear-gradient(top,  rgba(17,17,17,0) 0%, rgba(15,17,20,0.9) 50%, rgba(13,16,22,0.9) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(17,17,17,0) 0%,rgba(15,17,20,0.9) 50%,rgba(13,16,22,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(17,17,17,0) 0%,rgba(15,17,20,0.9) 50%,rgba(13,16,22,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00111111', endColorstr='#e60d1016',GradientType=0 ); /* IE6-9 */

        span {
            font-family: $font-condensed;
            font-size: 13px;
            text-transform: uppercase;
            margin-right: 10px;
            color: $font-color-base;
            &.highlight {
                color: $secondary-highlight;
            }
        }
    }
    .featured-panel-main {
        display: block;
        position: relative;
        overflow: hidden;
        max-width: 1000px;
        max-height: 620px;
        transition: all 0.3s;
        border: 1px solid #222222;

        @media (max-width: $media-tablet) {
            width: 100%;
        }
        @media (max-width: $media-mobile) {
            width: 100%;
            max-width: none;
            margin-bottom: 30px;
            height: 300px;
            .panel-title {
                padding: 40px 20px 15px !important;
                h1 {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
        .panel-title {
            padding: 80px 50px 40px;
        }
        .panel-background {
            background-size: contain;
            width: 1000px;
            height: 620px;
        }
        &:hover {
            border: 1px solid rgba($faded-line, 1);
            filter: brightness(130%);
        }
    }
    .featured-panel-wrapper {
        float: right;
        @media (max-width: $media-wide) {
            margin-left: 30px;
        }
        @media (max-width: $media-tablet) {
            margin-left: 0;
            float: none;
            .featured-panel {
                display: inline-block;
                width: 48%;
                &:nth-of-type(2) {
                    margin-left: 3%;
                }
            }
        }
        @media (max-width: $media-mobile) {
            .featured-panel {
                width: 100%;
                &:nth-of-type(2) {
                    margin-left: 0;
                }
            }
        }
    }
    .featured-panel {
        display: block;
        position: relative;
        overflow: hidden;
        width: 310px;
        height: 300px;
        margin-bottom: 20px;
        background-size: cover;
        transition: all 0.3s;
        border: 1px solid #222222;
        @media (max-width: $media-mobile) {
            overflow: visible;
            width: 100%;
            max-width: none;
            margin-bottom: 30px;
        }
        .panel-title {
            padding: 40px 20px 15px;
        }
        &:hover {
            border: 1px solid rgba($faded-line, 1);
            filter: brightness(130%);
        }
    }
}

.summary-info-discussions {
    float: right;
    width: 430px;
    margin-left: 30px;
}
.summary-info-discussions, .listbox {
    .user-avatar {
        width: 32px;
        height: 32px;
    }
    li {
        margin-bottom: 0;
    }
    a {
        display: block;
        padding: 20px 0;
        border-top: 1px solid $faded-line;
        transition: all linear 0.1s;
        &:hover {
            padding: 20px 10px;
            background: rgba($panel-color-dark,0.5);
        }
    }
    .content {
        margin-top: 5px;
        display: block;
        color: $font-color-base;
    }
    .details {
        font-family: $font-condensed;
        font-size: 11px;
        text-transform: uppercase;
        margin-right: 5px;
        color: $font-color-faded;
        @media (max-width: $media-mobile) {
            font-size: 13px;
        }
        &.highlight {
            color: $primary-highlight;
        }
    }

}
.summary-info-wrapper {
    margin-bottom: 50px;
    .summary-info {
        vertical-align: top;
        width: 430px;
        @media (max-width: $media-wide) {
            width: 30%;
            &.summary-info-discussions {
                width: 30%;
            }
            &.summary-info-guides {
                margin-right: 4%;
            }
            &.summary-info-discussions {
                margin-left: 4%;
            }
        }
        @media (max-width: $media-mobile) {
            float: none !important;
            width: 100% !important;
            margin: 0 0 60px !important;
        }
    }
    .summary-info-decks, .summary-info-guides {
        display: inline-block;
        .hero-avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 15px;
            float: left;
        }
        a {
            display: block;
            background: $panel-color;
            border-left: 3px solid $faded-line;
            padding: 15px;
            transition: all linear 0.1s;
            &:hover {
                color: white;
                background: lighten($panel-color, 2%);
                border-color: $secondary-highlight;
                margin-left: 5px;
            }
        }
    }
    .summary-info-guides {
        margin-right: 30px;
    }
    .content {
        margin-top: 5px;
        display: block;
        color: $font-color-base;
    }
    .details {
        font-family: $font-condensed;
        font-size: 11px;
        text-transform: uppercase;
        margin-right: 5px;
        color: $font-color-faded;
        &.highlight {
            color: $primary-highlight;
        }
    }
}