.featured-panel {
    .featured-focus {
        background: url('/assets/example-article-background.jpg');
        width: 640px;
        height: 360px;
        position: relative;
        display: inline-block;
        transition: all 0.3s;
        &:hover {
            filter: brightness(130%);
        }
        .overlay {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 0 40px 25px;
        }
        .heading {
            padding-bottom: 5px;
            margin-bottom: 15px;
            border-bottom: 1px solid rgba(138,135,132, 0.8);
        }
        .snippet {
            line-height: $font-line-height;
        }
    }
    .featured-list {
        display: inline-block;
        max-width: 320px;
        width: 100%;
        margin-left: 30px;
        vertical-align: top;
        li {
            padding: 14px 0;
            border-bottom: 1px solid $faded-line;
        }
        .subheading {
            width: 100%;
            color: $font-color-emphasis;
            font-weight: 600;
            padding-bottom: 15px;
            border-bottom: 1px solid $faded-line;
        }
        .latest-list {

        }
        .latest-subheader {
            // TODO: Move this to typography
            font-family: $font-condensed;
            font-size: 13px;
            line-height: 18px;
            color: $font-color-emphasis;
            font-weight: 800;
            text-transform: uppercase;
            display: block;
        }
        .post-details {
            font-size: 12px;
            color: $font-color-faded;
            a {
                color: $font-color-base;
                font-weight: bold;
                &:hover {
                    color: $font-color-highlight;
                }
            }
        }
        .post-context {
            float: left;
            max-width: 32px;
            margin-right: 10px;
            text-align: center;
            color: $font-color-faded;
            .date-day {
                display: inline-block;
                font-size: 24px;
                line-height: 22px;
                font-weight: 600;
            }
            .date-month {
                display: block;
                font-size: 11px;
                text-transform: uppercase;
            }
            img {
                width: 32px;
                border-radius: 50%;
            }
        }
    }
}
.secondary-panel {
    margin: 50px 0;
}