html {
    position: relative;
    min-height: 100%;
}
body {
    background: #08090d url('/assets/background.jpg') top right no-repeat;
    background-size: 100%;
    margin: 0 0 150px;
    overflow-x: hidden;
    min-height: 100%;

    @media (max-width: $media-mobile) {
        margin-bottom: 20px;
    }

    &.no-scroll {
        overflow: hidden;
    }
}
#page {
    animation: fadeIn 1000ms;
    margin: 100px auto 0;
    width: 100%;
    max-width: 1350px;
    padding-bottom: 50px;
    @media (max-width: $media-wide) {
        padding: 30px 30px 60px 30px;
        margin: 60px auto 0;
    }
    @media (max-width: $media-mobile) {
        padding-bottom: 0;
    }
}
.custom-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position-x: center;
}
.wrapper {
    overflow: hidden;
    @media (max-width: $media-mobile) {
        overflow: visible;
    }
    &.bordered-right {
        padding-right: 30px;
        border-right: 1px solid $faded-line;
    }
}
.content-wrapper {
    margin: 20px 0 50px;
    max-width: 800px;
    h2 {
        margin-bottom: 20px;
    }
    &.solo {
        margin: 20px auto 50px;
    }
    &.wider {
        max-width: 1000px;
    }
    &.table {
        max-width: none;
    }
}
.panel {
    padding: 20px;
    background-color: $panel-color;
}
.breadcrumb {
    font-family: $font-condensed;
    font-size: 14px;
    text-transform: uppercase;
    color: $font-color-faded;
    margin-bottom: 5px;
    a {
        color: $font-color-faded;
        &:hover {
            color: $secondary-highlight;
        }
    }
    strong {
        //color: $primary-highlight;
    }
}
.copypasta {
    display: inline-block;
    cursor: text;
    font-family: monospace;
    text-align: center;
    margin: 0;
    &.replayId {
        text-align: left;
        max-width: 350px;
    }
}
.hidden {
    display: none;
}
.impact-box {
    max-width: 800px;
    margin: 100px auto 0 auto;
    background: $panel-color-dark;
    border: 1px solid #222;
    box-shadow: 0px 0px 150px 30px rgba(255,255,255,0.15);
    padding: 30px;
    text-align: center;
    .copypasta {
        margin: 20px 0;
    }
    .alert {
        margin-bottom: 50px;
    }
    h3 {
        color: $tertiary-highlight;
    }
    h4 {
        margin: 40px 0 20px;
    }
    input, select {
        display: inline-block;
    }
}

.beta-notification {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-family: $font-condensed;
    font-size: 12px;
    z-index: 2000;
    @media (max-width: $media-mobile) {
        background: $panel-color;
        padding: 5px 7px;
    }
}

.impersonate-enabled {
    color: #666;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fcf8e3;
    padding: 12px 10px;
    text-align: center;
    z-index: 2001;
}

.disable-highlighting {
    -webkit-touch-callout: none;/*for mobile*/
    -webkit-user-select: none;/*for chrome*/
    -khtml-user-select: none;/*for safari*/
    -moz-user-select: none;/*for Mozilla*/
    -ms-user-select: none;/*for mircosoft*/
    -o-user-select: none;/*for opera*/
    user-select: none;/*base css ,but not work in all browsers*/
}

// SCROLL BAR
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    background: lighten($panel-color,10%);
}
