body {
    background: #08090d url('/assets/background.jpg') top right no-repeat;
    background-size: 100%;
    animation: fadeIn 300ms;
}
html.wf-loading, html.wf-inactive {
    opacity: 0;
    transition: opacity 0.3s;
}
html.wf-active {
    opacity: 1;
    transition: opacity 0.3s;
}
#page {
    margin: 100px auto 0;
    width: 100%;
    max-width: 1350px;
}
.wrapper {
    overflow: hidden;
    &.bordered-right {
        padding-right: 30px;
        border-right: 1px solid $faded-line;
    }
}
.content-wrapper {
    margin: 20px 0 50px;
    max-width: 800px;
    h2 {
        margin-bottom: 20px;
    }
    &.solo {
        margin: 20px auto 50px;
    }
}