nav {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1350px;
    .logo {
        float: left;
        width: 60px;
        padding-top: 20px;
        img {
            width: 45px;
            transition: transform 0.3s;
            &:hover  {
                transform: rotate(-9deg);
            }
        }
    }
    .wrapper {
        margin-left: 70px;
        border-bottom: 1px solid #343a4a;
    }
    .links {
        li {
            display: inline-block;
            text-transform: uppercase;
            a {
                display: inline-block;
                padding: 25px 15px 18px;
                position: relative;
                transition: color 0.3s;
                &:after {
                    content: '';
                    box-sizing: border-box;
                    position: relative;
                    bottom: -19px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    height: 1px;
                    display: block;
                    transition: all 0.3s;
                    width: 0;
                }
                &:hover {
                    color: $secondary-highlight;
                    &:after {
                        background-color: $secondary-highlight;
                    }
                }
                &.active {
                    color: $primary-highlight;
                    &:after {
                        background-color: $primary-highlight;
                    }
                }
                &:hover, &.active {
                    &:after {
                        width: 100%;
                    }
                }
            }
            &:first-of-type a {
                padding-left: 0;
                &:after {
                    left: 0;
                }
            }
        }
    }
}
