#news-feed {
    margin: 20px 0;
    //border-right: 1px solid $faded-line;
    #end-of-news-label {
        display: block;
        text-align: center;
        font-size: 16px;
        opacity: 1.0;
        transition: opacity 1s;
        color: $font-color-faded;
        margin-top: 50px;
        &.hidden {
            opacity: 0.0;
            margin-top: 0;
        }
        .fa {
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: $media-desktop) {
    #article-wrapper {
        padding-left: 15px;
    }
}
@media screen and (max-width: $media-tablet) {
    #article-wrapper {
        padding-left: 0px;
        display: table-header-group;
        article {
            width: 100%;
            margin-right: 0;
            border-right: none;
            padding: 0px 15px;
        }
        #comment-feed {
            padding: 70px 10px 70px 30px;
            margin-right: 0;
            width: 100%;
            border-right: none;
        }
    }
    #sidebar {
        &.article-sidebar {
            display: table-footer-group;

            .article-preview {
                width: calc(49% - 30px);
                margin-left: 15px !important;
                margin-right: 15px !important;
            }

            h4.heading {
                margin-left: 15px;
            }
        }
    }
}

@media screen and (max-width: $media-mobile) {
    #sidebar {
        &.article-sidebar {
            .article-preview {
                width: calc(100% - 30px);
                margin-left: 15px !important;
                margin-right: 15px !important;
            }
        }
    }
}
