#sidebar {
    position: relative;
    float: right;
    width: 400px;
    height: 100%;
    padding-left: 30px;
    .sidebar-sticky {
        position: fixed;
        top: 100px;
        width: 100%;
        max-width: 370px;
    }
    &.align-left {
        float: left;
        padding-left: 0;
        padding-right: 30px;
    }
    &.small {
        width: 300px;
    }
    h4 {
        margin-bottom: 10px;
    }
    h4.heading {
        margin-bottom: 20px;
    }
    .sidebox {
        margin-bottom: 20px;
        &.panel {
            background: $panel-color;
            padding: 20px;
            //border: 1px solid $faded-line;
            &.dark {
                background: $panel-color-dark;
            }
        }
        &.navigation {
            background: $panel-color-dark;
            border: 1px solid $faded-line;
            li {
                margin-bottom: 0;
            }
            li a {
                display: block;
                padding: 15px 20px;
                background: $panel-color-dark;
                margin-bottom: 0;
                &.active {
                    border-left: 3px solid $primary-highlight;
                    background: $panel-color;
                }
            }
        }
        .subtext {
            font-family: "Roboto Condensed";
            color: $font-color-faded;
            font-size: 14px;
        }
    }
    .title-wrapper {
        width: 100%;
        margin-bottom: 30px;
        h3 {
            display: inline-block;
        }
        span {
            font-family: "Roboto Condensed";
            color: $font-color-faded;
            display: inline-block;
            float: right;
        }
    }
    .listbox {
        margin-bottom: 30px;
    }
}
