#player-stats {
    overflow: hidden;
}
.quick-stats {
}
.statbox {
    vertical-align: top;
    &.small {
        &:first-of-type {
            border-left: none;
        }
        display: inline-block;
        width: 280px;
        margin-right: 25px;
        //background: $panel-color-dark;
        border-left: 1px solid $faded-line;
        &:nth-of-type(3) {
            margin-right: 0;
        }
        .content {
            padding: 30px 20px;
        }
        .label, .statistic {
            text-transform: uppercase;
            display: block;
            text-align: center;
        }
        .label {
            color: $font-color-faded;
            margin-bottom: 5px;
        }
        .statistic {
            font-size: 40px;
            color: $font-color-emphasis;
        }
    }
}

.completion-bar {
    width: 100%;
    background: $panel-color;
    height: 30px;
    position: relative;
    .completed {
        height: 30px;
        opacity: 0.4;
        background: $green;
    }
    span {
        position: absolute;
        top: 0;
        left: 10px;
        line-height: 30px;
        font-size: 14px !important;
        font-family: $font-condensed;
        color: $font-color-base;
        strong {
            color: white;
        }
    }
}