#abilities-wrapper {
    #ability-header {
        text-align: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 300px;
        padding: 40px 20px;

        h2 {
            font-size: 3em;
            background: -webkit-linear-gradient(#fff, #ccc);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 500;
        }
    }

    .ability-container {
        position: relative;
        overflow: hidden;
        display: block;
        clear: both;
        padding: 80px 10px;
        min-height: 400px;
        height: 650px;

        h3 {
            .ability-icon {
                display: inline-block;
                vertical-align: middle;
                width: 124px;
            }

            .ability-title {
                display: inline-block;
                vertical-align: middle;

                span {
                    display: block;

                    &.ability-name {
                        color: $tertiary-highlight;
                    }
                    &.ability-button {
                        font-family: "Roboto Condensed";
                        font-weight: 100;
                        color: $font-color-faded;
                        font-size: 16px;
                        line-height: 24px;

                        span {
                            color: $quarternary-highlight;
                            display: inline-block;
                        }
                        img {
                            width: 24px;
                            vertical-align: middle;
                            display: inline-block;
                            margin-top: -3px;
                        }
                    }
                    &.ability-cooldown {
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 400;
                        color: $quarternary-highlight;
                    }
                }
            }
        }

        p {
            font-size: 16px;
            margin: 10px 25px;
            border-top: 1px solid $faded-line;
            padding-top: 20px;
        }

        &:last-child {
            border-bottom: none;
        }
        &:first-child {
            padding-top: 40px;
        }
        &:nth-child(even) {
            .video-wrapper {
                float: left;
            }
            .text-wrapper {
                float: right;
            }
        }
        & .video-wrapper {
            height: 100%;
            float: right;
            vertical-align: top;
            position: relative;
            display: inline-table;
            width: 60%;

            .video-container {
                text-align: center;
                display: table-cell;
                vertical-align: middle;
            }
        }

        & .text-wrapper {
            height: 100%;
            float: left;
            vertical-align: top;
            position: relative;
            display: inline-table;
            width: 40%;
            
            .text-container {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}
