#account-nav {
    .account-nav-trigger {
        cursor: pointer;
        text-align: right;
        color: $font-color-emphasis;
    }
    .account-nav-panel {
        position: relative;
        top: 18px;
        background: $panel-color;
        border: 1px solid $faded-line;
        box-shadow: 0px 0px 3px #000;
        min-width: 200px;
        transition: opacity 0.2s linear, height 0.2s step-start;
        &.active {
            height: auto;
            opacity: 1;
        }
        &.inactive {
            opacity: 0;
            height: 0;
            overflow: hidden;
            transition-timing-function: linear, step-end;
        }
    }
    .account-avatar {
        vertical-align: middle;
        margin-top: -4px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-right: 7px;
        .fa-caret-down {
            font-size: 12px;
        }
    }
    .fa {
        font-size: 14px;
    }
    .account-notifications {
        color: $secondary-highlight;
        &:hover {
            color: white;
        }
        .fa {
            margin-right: 5px;
        }
    }
    .account-amber {
        padding-left: 15px;
        color: $primary-highlight;
        .fa {
            margin-right: 5px;
        }
    }
    .account-achievements {
        padding-left: 15px;
        color: $secondary-highlight;
        .fa {
            margin-right: 5px;
        }
    }
    .fa-caret-down {
        margin-left: 10px;
    }
    .account-properties {
        padding: 10px 0;
        li {
            display: block;
            a {
                display: block;
                text-transform: none;
                padding: 10px 20px;
                transition: all 0.2s;
                &:hover {
                    background: $panel-color-dark;
                }
            }
            .fa {
                width: 25px;
            }
        }
    }
    .sign-out {
        background: $panel-color-dark;
        color: white;
        padding: 15px;
        text-align: center;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        &:hover {
            color: $primary-highlight;
        }
    }
}
.amber-icon {
    vertical-align: bottom;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUwIDUwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0ZGNjYwMDt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjUsNDkuN0wwLjMsMjVMMjUsMC4zTDQ5LjcsMjVMMjUsNDkuN3ogTTQuNCwyNUwyNSw0NS42TDQ1LjYsMjVMMjUsNC40TDQuNCwyNXoiLz48cG9seWdvbiBjbGFzcz0ic3QwIiBwb2ludHM9IjE5LjMsMzQuNSAxNi41LDMzLjUgMjUsMTAuMSAzMy41LDMzLjUgMzAuNywzNC41IDI1LDE4LjkgIi8+PC9zdmc+') no-repeat;
}