#deck-stat-container {
    margin-top: 80px;

    #statistic-wrapper {
        margin: 20px 0 100px 0;
    }

    #statistic-title-wrapper {
        height: 70px;
        h3 {
            margin-top: 25px;
            float: left;
        }
        #rank-slider {
            margin-right: 35px;
            float: right;
            width: 300px;
        }
    }
}

#chart-wrapper {
    margin: 50px 0 80px 0;
    padding: 0 5px;
    overflow: auto;

    .highcharts-container {
        overflow: visible !important;

        svg {
            overflow: visible !important;
        }
    }

    .chart {
        display: inline-block;

        &.left {
            float: left;

            &.hidden {
                display: none;
            }
        }

        &.right {
            float: right;

            &.hidden {
                float: left;
            }
        }

        &.stacked {
            display: block;
            margin-bottom: 30px;

            .highcharts-container {
                margin-left: -10px;
            }
        }

        .toggle-button {
            padding-left: 10px;
            border-left: 4px solid $font-color-faded;
            transition: all 350ms ease-in-out;
            display: block;
            margin: 20px 0 25px 0;
            font-size: 16px;

            span {
                &:hover {
                    cursor: pointer;
                }
            }

            &:hover {
                cursor: pointer;
            }

            &.active {
                border-left: 4px solid $secondary-highlight;
            }
        }
    }
}