$placed-card-height : 187px;
$placed-card-width : 141px;

.builds-wrapper {
    #options-wrapper {
        padding: 10px 10px 20px 0;
    }
    .build-list {
        li {
            display: inline-block;
            opacity: 0.4;
            height: auto;
            transition: all 250ms ease-in-out;
            background-size: $placed-card-width $placed-card-height;
            min-width: $placed-card-width;
            min-height: $placed-card-height;
            padding-top: 0px;
            margin-bottom: 60px;

            &.faded {
                opacity: 0.3 !important;

                &:hover {
                    opacity: 0.4 !important;
                }
            }

            &.active-slot {
                opacity:0.75;

                &:hover {
                    opacity: 0.9;
                }
            }

            &.active-placed {
                opacity:1;
                vertical-align: top;

                &:hover {
                    .delete-wrapper {
                        z-index: 50;
                        pointer-events: all;
                        opacity: 1;
                        cursor: default;

                        i {
                            top: 0%;
                        }
                    }
                    opacity: 0.9;
                }
            }

            .delete-wrapper {
                cursor: default;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                z-index: 1;
                top: 0;
                width: $placed-card-width;
                height: $placed-card-height;
                left: 0;
                text-align: center;
                background: rgba(0,0,0,0.6);
                right: 0;
                overflow: hidden;
                transition: all 150ms ease-in-out;

                i {
                    position: relative;
                    font-size: 32px;
                    margin-top: 70px;
                    transition: all 300ms ease-in-out;
                    z-index: 999;
                    padding: 0px 10px;

                    &:hover {
                        cursor: pointer;
                        &.fa-trash {
                            color: $primary-highlight;
                        }
                        &.fa-refresh {
                            color: $green;
                        }
                    }
                }

                // ALWAYS SHOW ON MOBILE
                &.active-mobile {
                    z-index: 50;
                    pointer-events: all;
                    opacity: 1;
                    cursor: default;

                    i {
                        top: 0%;
                    }
                }
            }

            .glow-layer {
                position: absolute;
                width: $placed-card-width;
                height: $placed-card-height;
                z-index: 2;

                &.pulse-glow-inner {
                    animation: pulse-card-with-inner-glow 500ms linear
                }
                &.pulse-glow-outer {
                    animation: pulse-card-with-outer-glow 750ms linear;
                }
            }

            .upgrade-slot-wrapper {
                position: relative;
                left: 0;
                height: auto;
                right: 0;
                margin-top: 10px;
                transition: all 200ms ease-in-out;

                .upgrade-slot {
                    font-size: 12px;
                    background: #181d27;
                    line-height: 14px;
                    margin-bottom: 5px;
                    font-weight: 600;
                    width: 100%;
                    text-align: center;
                    padding: 16px 5px;
                    border: 1px solid #232a38;
                    transition: all 250ms ease-in-out;
                    background-size: 100%;
                    position: relative;
                    background-position-y: -15px;

                    &.pulse-upgrade {
                        opacity: 1;
                        animation: flash 1s infinite linear;
                    }

                    &:hover {
                        .overlay {
                            opacity: 0.2;
                        }
                    }

                    .upgrade-label {
                        position: relative;
                        z-index: 5;
                        text-transform: uppercase;
                    }

                    .overlay {
                        position: absolute;
                        background: black;
                        opacity: 0.7;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 2;
                        transition: all 250ms ease-in-out;
                    }

                    &.selected {
                        border: 1px solid $tertiary-highlight;
                    }

                    &:hover {
                        border: 1px solid $tertiary-highlight;
                    }
                }
            }

            .placed-card {
                position: relative;
                height: $placed-card-height;
                width: $placed-card-width;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                top: 0;
                transition: background 300ms ease-in-out;

                .card-title {
                    position: absolute;
                    bottom: 20px;
                    display: block;
                    width: 100%;
                    padding: 0px 10px;
                    font-size: 12px;
                    text-align: center;
                }
            }

            .pulsing-arrow {
                opacity: 0;
                position: absolute;
                text-align: center;
                bottom: 22px;
                left: 0;
                right: 0;
                font-size: 34px;
                color: #fff;
                &.active-slot {
                    opacity: 1;
                    animation: flash 1s infinite linear;
                }
            }
        }
    }
}

@media screen and (max-width: $media-tablet) {
    #deck-builder {
        .build-builder {
            &.wrapper {
                width: 100%;
                padding: 30px 15px;

                .builds-wrapper {
                    .build-list {
                        text-align: center;

                        li {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .delete-wrapper {
        i {
            font-size: 28px !important;
            margin-top: 60px !important;
        }
    }
}
