$blur-radius : 30px;
$card-width : 300px;
$card-height: 380px;

canvas {
    display: block;
    vertical-align: bottom;
}

#particle-layer {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent no-repeat 50% 50%;
    background-size: cover;
}

.card-container {
    width: 1350px;
    min-height: 800px;
    position: relative;

    #card-model-wrapper {
        position: absolute;
        max-width: 600px;
        width: 600px;
        right: 0;
        top: 150px;
        height: 100%;
        z-index: 10;

        #card-model {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;

            #card-model-container {
                position: relative;
                width: $card-width;
                height: auto;
                display: inline-block;
                z-index: 2;

                & img {
                    width: 100%;
                    height: 100%;
                }
                & span {
                    position: absolute;
                    bottom: 65px;
                    left: 0;
                    display: block;
                    font-size: 21px;
                    width: 100%;
                    text-align: center;
                    color: white;
                    text-shadow: 1px 1px 2px #000;
                }


                #card-glow-layer {
                    width: ($card-width)-50;
                    height: ($card-height)-50;
                    position: absolute;
                    top: 25px;
                    left: 25px;
                    z-index: -1;
                }
            }
        }
    }

    .card-stats-wrapper {
        max-width: 650px;
        width: 600px;
        height: 100%;
        top: 0px;
        position: absolute;
        z-index: 10;

        .attributes {
            height: auto;
            position: relative;
            display: inline-block;
            margin-bottom: 40px;
            color : white;
            font-size: 18px;
            text-transform: uppercase;

            .attribute {
                vertical-align: middle;
                display: inline-block;
            }

            .cost {
                text-align: center;
                padding-right: 20px;
                border-right: 3px solid $faded-line;
                span {
                    font-size: 30px;
                    font-weight: 400;
                }
            }
            .rarity {
                padding: 0px 20px;
                margin-left: 5px;
                font-size: 18px;
                span {
                    line-height: 20px;
                    display: block;
                }
            }
            .affinity-icon {
                padding: 10px 10px 0 0;
                font-size: 42px;
            }
            .affinity {
                padding-top: 2px;
            }
        }

        .card-stats {
            padding: 20px 5px;
            max-width: 450px;
            position: relative;
            top: 50px;
            z-index: 10;

            h1 {
                padding-bottom: 25px;
                margin-bottom: 25px;
                border-bottom: 2px solid #222;
            }
        }
    }
    .content {
        .pgg {
            font-size: 24px;
            margin-left: 7px;
            margin-right: 5px;
        }
        li {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 15px;
            .value {
                color: white;
            }
        }
    }
    .actipassive {
        color: $tertiary-highlight;
        font-style: italic;
    }
    label {
        font-family: $font-condensed;
        font-size: 16px;
        color : $font-color-faded;
        display: block;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .maxedEffects {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #222;
        label {
            color: $tertiary-highlight;
        }
    }
    #blur-layer {
        position: absolute;
        top: -10px;
        width: 100%;
        height: 100%;
        z-index: 5;
        top: -$blur-radius;
        left: -$blur-radius;
        background: rgba(8, 9, 13, 0.8);
        filter: blur($blur-radius);
    }
}