$avatar-width : 40px;
$avatar-height : $avatar-width;


#comment-feed {
    margin: 0 auto;
    max-width: 800px;
    clear: both;
    .user-avatar {
        width: 28px;
        height: 28px;
        float: none;
        vertical-align: middle;
    }
    .comment-box {
        margin: 0 auto;
        max-width: 600px;
        textarea {
            background: $panel-color-dark;
            min-height: 100px;
        }
    }
    .user-details {
        display: inline-block;
    }
    .post-comment-actions {
        float: right;
    }

    #comment-list {
        margin: 100px 0 150px 0;

        &.no-comment-box {
            margin-top: 25px;
        }

        .more-button {
            position: relative;
            z-index: 1;
            outline: 0;
            box-shadow:none;

            &.active {
                border: 1px solid $secondary-highlight;
                color: $secondary-highlight;
            }

            .more-container {
                color: $font-color-faded !important;
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 32px;
                overflow: hidden;
                z-index: 0;
                transition: all 150ms ease-in-out;

                span {
                    vertical-align: middle;
                    display: inline-block;
                    margin-right: 10px;

                    &.active {
                        color: $secondary-highlight !important;
                    }

                    &:hover {
                        color: $secondary-highlight !important;
                    }
                }

                &.visible {
                    border: 1px solid $faded-line;
                    opacity: 1;
                    width: 150px;
                    text-align: left;
                    margin-left: 31px;
                    padding-left: 10px;
                    padding-top: 3px;
                }
            }
        }

        .no-comments {
            margin-bottom: 0;
            font-size: 16px;
            font-style: italic;
            color: $font-color-faded;
            text-align: center;
        }
        .comment-item {
            &:nth-of-type(1) {
                border-top: none;
            }
            border-top: 1px solid $faded-line;
            padding-top: 30px;
            margin-bottom: 30px;
            .comment-details {
                span {
                    margin-left: 5px;
                    font-family: $font-condensed;
                    color: $font-color-faded;
                    font-size: 13px;
                    text-transform: uppercase;
                }
            }
            .comment-body {
                margin: 30px 0;
                line-height: 150%;

                &.deleted-comment {
                    font-style: italic;
                    color: $font-color-faded;
                }
            }
            .comment-actions {
            }
        }
    }
    .login-required {
        text-align: center;
        &:after {
            content: '';
            display: block;
            width: 70px;
            margin: 30px auto;
            height: 1px;
            border-top: 1px solid $faded-line;
        }
    }
    .comment-list {
        margin-left: 50px;
        margin-top: 30px;
    }
}