
.build-list {
    padding-top: 30px;
    li {
        display: inline-block;
        width: 113px;
        height: 150px;
        background: url('/assets/images/cards/card-placeholder.png') no-repeat;
        background-size: 113px 150px;
        opacity: 0.3;
        margin-bottom: 0;
        margin-right: 10px;
        padding-top: 30px;
        position: relative;
        cursor: pointer;
        .slot-label {
            position: absolute;
            top: -30px;
            text-align: center;
            left: 0;
            right: 0;
            font-family: $font-condensed;
            text-transform: uppercase;
            font-size: 14px;
        }
        .available-slot {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            animation: flash 1s infinite linear;
            color: $tertiary-highlight;
        }
        &:hover {
            opacity: 0.5;
        }
        &.filled {
            opacity: 1;
        }
    }
}

#deck-builder {

    #sidebar {
        width: 29%;
        max-width: 400px;

        .sidebox {
            &.panel {
                h4 {
                    .deck-total {
                        font-size: 14px;
                        color: #5a606f;
                        float: right;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .deck-builder {
        border-top: none;
        margin-top: 0px;
        padding-top: 0px;
        width: 70%;

        .content-wrapper {
            max-width: 100%;

            .deck-title {
                & input.h2 {
                    display: inline-block;
                    min-width: 85%;
                    width: auto;
                }
                button {
                    display: inline-block;
                }
            }
        }
    }
}
