#sidebar {
    #cost-curve-container {
        background: $panel-color-dark;
        height: 225px;
        border: 1px solid $faded-line;
    }
}

#deck-detail-wrapper {
    overflow: hidden;

    #deck-container {
        .build-list {
            .no-builds {
                display: block;
                width: 100%;
                height: auto;
                background: none;
                padding: 0;
                margin: 0;
                opacity: 1.0;

                &:hover {
                    opacity: 1.0;
                    cursor: default;
                }
            }
        }

        .deck-info {
            margin-bottom: 40px;

            .hero-avatar {
                float: left;
                margin-right: 20px;
                width: 75px;
                height: 75px;
                display: inline-block;

                img {
                    border-radius: 50%;
                    width: 100%;
                }
            }

            .title-wrapper {
                display: inline-block;
                padding: 0 20px;
                max-width: 90%;
                h2 {
                    margin-bottom: 10px;
                }
            }
            .description {
                clear: left;
                margin-top: 20px;
                font-size: 15px;
            }
        }
        @media (max-width: $media-mobile) {
            text-align: center;
        }
    }
    @media (max-width: $media-tablet) {
        width: 100%;
    }
}

.build-tabs {
    li {
        font-size: 13px;
        cursor: pointer;
        text-transform: uppercase;
        background: $panel-color;
        color: white;
        display: inline-block;
        padding: 10px 17px;
        transition: all 350ms ease-in-out;

        &.active {
            background: $secondary-highlight;
        }
    }
}
