#selected-card-wrapper {
    position: fixed;
    bottom: 70px;
    left: -100%;
    z-index: 999999;
    width: 100%;
    height: 50px;
    opacity: 0;
    border-top: 1px solid $panel-color;
    transition: all 150ms ease-in-out;

    &.visible {
        left: 0%;
        opacity: 1;
    }

    &.hidden {
        left: -100%;
        opacity: 0;
    }

    span {
        display: block;
        position: relative;
        top: 0;
        z-index: 3;
        text-transform: uppercase;
        font-weight: 100;
        color: #5a606f;
        padding: 15px 30px 15px 30px;
        text-shadow: 0px 0px 10px #000;
        font-family: Roboto Condensed;

        .subtext {
            color: white;
            font-weight: 600;
            display: inline-block;
            margin: 0;
            padding: 0;
        }

        i {
            float: right;
            color: white;
        }
    }

    &:hover {
        .black-overlay {
            background: rgba(0, 0, 0, 0.2);
        }
    }

    .black-overlay {
        width: 100%;
        display: block;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        transition: all 200ms ease-in-out;
        bottom: 0;
        right: 0;
        z-index: 2;
    }

    .selected-card-background {
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        background-size: 100%;
        background-position-y: 25%;
        transition: all 250ms ease-in-out;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.dual-tab-wrapper {
    width: 100%;
    .dual-tab-tabs {
        width: 100%;
        text-align: center;
        color: #fff;

        div {
            display: inline-block;
            width: 50%;
            padding: 15px 20px;
            background: #0d1016;
            cursor: pointer;

            &.active {
                background: #181d27;
            }
            &.flash-tab {
                animation: pulse-card-with-inner-glow 300ms linear;
            }

            span {
                cursor: pointer;
                display: inline-block;
                vertical-align: top;
            }
        }
    }

    .dual-tab-panel {
        position: relative;
        top: 0;
        width: 100%;

        .mobile-header {
            display: none;
        }

        .panel {
            display: none;
            background: #181d27 !important;
            border: none !important;
            &.active {
                display: block;
            }
        }
    }
}
.build-list {
    padding-top: 30px;

    li {
        display: inline-block;
        width: 141px;
        height: 187px;
        background: url('/assets/images/cards/card-placeholder.png') no-repeat;
        background-size: 100% 100%;
        opacity: 0.3;
        margin-bottom: 0;
        margin-right: 10px;
        padding-top: 30px;
        position: relative;
        cursor: pointer;

        .slot-label {
            position: absolute;
            top: -30px;
            text-align: center;
            left: 0;
            right: 0;
            font-family: $font-body;
            text-transform: uppercase;
            font-size: 14px;
        }
        .available-slot {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            animation: flash 1s infinite linear;
            color: $tertiary-highlight;
        }
        &:hover {
            opacity: 0.5;
        }
        &.filled {
            opacity: 1;
        }
    }
}

#deck-builder {
    position: relative;

    .subtext {
        color: #5a606f;
        font-family: "Roboto Condensed", sans-serif, Arial;
    }

    .max-capacity {
        color: $primary-highlight;
    }

    #cards-feed {
        position: relative;
        visibility: visible;
        height: 100%;
        bottom: 0;
        opacity: 1;
        transition: all 350ms ease-in-out;

        &.hidden {
            visibility: hidden;
            bottom: -100%;
            opacity: 0;
            height: 0;
        }
    }

    #sidebar {
        position: relative;
        z-index: 10;
        width: 29%;
        max-width: 400px;

        .btn {
            outline: none;
            &.inline {
                display: inline-block;
                margin: 0;

                &.wide {
                    color: $color-growth;
                    border: 1px solid $color-growth;
                    width: 68%;
                    margin-bottom: 20px;
                    margin-left: 2%;
                    transition: all 200ms ease-in-out;

                    &:hover {
                        color: $secondary-highlight;
                        border: 1px solid $secondary-highlight;
                    }
                }
                &.narrow {
                    color: #5a606f;
                    border: 1px solid #5a606f;
                    width: 29%;
                    margin-bottom: 20px;

                    &:hover {
                        color: $secondary-highlight;
                        border: 1px solid $secondary-highlight;
                    }
                }
            }
        }

        .sidebox {
            &.panel {
                h4 {
                    .deck-total {
                        font-size: 14px;
                        color: #5a606f;
                        float: right;
                        font-weight: 400;
                    }
                }

                .title-wrapper {
                    width: 100%;
                    position: relative;
                    height: 30px;
                    .btn {
                        position: absolute;
                        right: 0;
                        top: 0;
                        &.hidden {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .build-builder {
        margin-top: 0px;
        padding-top: 0px;
        width: 70%;
        min-height: 700px;
        left: 0;
        top: 0;
        opacity: 1;
        visibility: visible;
        position: absolute;
        z-index: 0;
        transition: all 400ms ease-in-out;

        &.hidden {
            left: 100%;
            opacity: 0;
            min-height: 0;
            visibility: hidden;
            //height: 0;
        }

        .build-cost {
            display: block;
            color: #fff;
            margin-top: -10px;
            margin-bottom: 50px;

            span {
                color: #5a606f;
            }
        }

        #back-button {
            font-size: 16px;
            font-weight: 100;
            cursor: pointer;
            margin-bottom: 20px;
            font-family: "Roboto Condensed", sans-serif, Arial;

            &:hover {
                color: $secondary-highlight;
            }

            i {
                font-size: 28px;
                position: relative;
                top: 3px;
                margin-right: 5px;
            }
        }
    }

    .deck-builder {
        border-top: none;
        margin-top: 0px;
        padding-top: 0px;
        min-height: 100%;
        height: 100%;
        width: 70%;
        visibility: visible;
        left: 0;
        top: 0;
        opacity: 1;
        position: relative;
        transition: all 400ms ease-in-out;

        &.hidden {
            visibility: hidden;
            left: -100%;
            opacity: 0;
            min-height: 0;
            height: 0;
        }

        .content-wrapper {
            max-width: 100%;

            .deck-title {
                position: relative;

                .title-container {
                    margin-bottom: 20px;
                    position: relative;
                    display: inline-block;
                    left: 20px;
                    width: 85%;
                    padding-top: 10px;

                    .breadcrumb {
                        font-family: "Roboto Condensed", sans-serif;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: #5a606f;
                        display: block;
                    }

                    // this used to be the title container
                    input {
                        display: inline-block;
                        min-width: 85%;
                        width: 100% !important;
                    }

                    textarea {
                        max-width: 700px;
                        background: none;
                        display: inline-block;
                        border: none;
                        padding: 0;
                        margin: 0;
                        min-height: 10px;
                        height: auto;
                        resize: none;

                        &.h2 {
                            font-weight: 600;
                            font-size: 2em;
                            text-transform: uppercase;
                        }
                    }
                }

                .hero-portrait-container {
                    vertical-align: top;
                    border-radius: 50%;
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    overflow: hidden;
                    position: relative;

                    &:hover {
                        cursor: pointer;
                    }

                    .glow-wrapper {
                        z-index: 2;
                        position: absolute;
                        width: inherit;
                        height: inherit;
                        border-radius: 50%;
                        &.updated {
                            animation: pulse-card-with-inner-glow 750ms linear;
                        }
                    }

                    .hero-portrait {
                        transition: all 300ms ease-in-out;
                        z-index: 1;
                        vertical-align: top;
                        border-radius: 50%;
                        position: absolute;
                        width: inherit;
                        height: inherit;
                        filter: brightness(100%);

                        &.updating {
                            animation: brighten 1s infinite ease-in-out;
                        }

                        &:hover {
                            pointer: cursor;
                        }
                    }
                }

                & input.h2 {
                    display: inline-block;
                    min-width: 85%;
                    width: auto;
                }
                button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: inline-block;
                }
            }
        }
    }
}

@media screen and (max-width: $media-tablet) {
    body {
        #deck-builder {
            .subtext {
                position: relative;
                z-index: 1;
            }
            .filter-wrapper {
                .search-bar-wrapper {
                    width: 50%;
                    input {
                        width: 100%;
                    }
                }
            }
            #sidebar {
                top: 0;
                max-width: 100%;
                width: 100%;
                position: fixed;
                -webkit-backface-visibility: hidden;
                min-height: 100%;
                height: 100%;
                opacity: 1;
                z-index: 999999;
                background: $panel-color-dark;
                transition: all 200ms ease-in-out;

                &.hidden {
                    top: 100%;

                    .dual-tab-wrapper {
                        .dual-tab-panel {
                            opacity: 0;
                        }
                    }
                }

                .dual-tab-wrapper {
                    .dual-tab-tabs {
                        box-shadow: 0px 0px 50px #000;
                        border-top: 1px solid $panel-color;
                        z-index: 1338;
                        position: fixed;
                        -webkit-backface-visibility: hidden;
                        bottom: 0;

                        div {
                            height: 70px;
                            padding: 28px;
                            transition: all 150ms ease-in-out;
                            border-top: 2px solid rgba(0,0,0,0);

                            &:nth-child(even) {
                                border-left: 1px solid $panel-color;
                            }

                            &.active {
                                border-top: 2px solid $primary-highlight;
                            }
                        }
                    }

                    .dual-tab-panel {
                        background: $panel-color-dark;
                        position: absolute;
                        min-height: 100%;
                        height: 100%;
                        padding-top: 60px;
                        padding-bottom: 100px;
                        overflow-y: scroll;

                        .mobile-header {
                            &.active {
                                width: 100%;
                                display: block;
                                position: relative;
                                z-index: 10;
                                padding: 20px 30px;
                                box-shadow: 0px 0px 50px #000;
                                background: #181d27;
                                border-bottom: 1px solid #212735;

                                span {
                                    font-size: 1.2em;
                                }

                                i {
                                    float: right;
                                }
                            }
                        }

                        .sidebox {
                            &.panel {
                                background: $panel-color-dark !important;
                                .deck-list {
                                    li {
                                        background-size: 100%;
                                        background-position-y: 25%;

                                        &.create-build {
                                            background: $panel-color;
                                            .dotted-button {
                                                padding: 25px 15px;
                                            }
                                        }

                                        .wrapper {
                                            padding: 22px 10px;
                                            border: 1px solid #212735;

                                            &.intro-row {
                                                font-size: 1.25em;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .deck-builder {
                &.wrapper {
                    width: 100%;

                    .content-wrapper {

                        .deck-title {
                            padding: 20px 30px;
                            .title-container {
                                margin-bottom: 0px;
                            }
                            .hero-portrait-container {
                                width: 95px;
                                height: 95px;
                            }
                        }

                        .p {
                            font-size: 1.1em;
                            padding: 5px 30px;
                        }
                    }
                }
            }
        }

        .multiple-notification-panel {
            max-width: 100%;
            padding: 0;
            width: 100%;
            top: 102px;
            left: 0;
            right: 0;
            bottom: initial;

            .notification-panel-wrapper {
                .notification-panel {
                    max-width: 100%;
                    right: 0;
                    bottom: 0;
                    margin: 0;

                    .notification {
                        background: rgba(24, 29, 39, 0.95);
                        padding: 10px 20px;
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $media-mobile) {
    body {
        footer {
            display: none;
        }
        #deck-builder {

            #sidebar {
                .dual-tab-wrapper {
                    .dual-tab-tabs {

                        div {
                        }
                    }

                    .dual-tab-panel {

                        .sidebox {
                            &.panel {
                                .deck-list {
                                    li {
                                        background-size: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .deck-builder {
                .content-wrapper {
                    .deck-title {
                        padding: 20px 10px !important;
                        .hero-portrait-container {
                            margin: 0px auto 40px auto;
                            display: block;
                        }
                    }
                }
            }
        }

        .multiple-notification-panel {

            .notification-panel-wrapper {
                .notification-panel {

                    .notification {
                    }
                }
            }
        }
    }
}