.toggle-filter {
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    width: 34px;

    &:hover .underline {
        margin-top: 8px;
        opacity: 0.6;

        &.active {
            margin-top: 6px;
        }
    }

    i {
        opacity: 0.6;
        margin: 0 auto;
        font-size: 34px;
        transition: opacity 750ms;

        &.active {
            opacity: 1.0;
        }
    }
    .underline {
        display: block;
        background: #40a4e1;
        opacity: 0.2;
        height: 3px;
        margin-top: 6px;
        transition: opacity 300ms;

        &.active {
            opacity: 1.0;
        }
    }
}

.drop-down-menu {
    position: relative;
    z-index: 100;
    top: -5px;
    display: inline-block;
    margin-left: 30px;
    width: 34px;

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #040405;
        font-weight: 600;
        width: 42px;
        height: 42px;
        border-radius: 21px;
        transition: background 300ms;
        background: rgba(0, 170, 238, 1.0);

        &:hover {
            cursor: pointer;
            background: rgba(0, 170, 238, 0.9);
        }
    }

    .menu {
        display: none;
        margin-top: 25px;
        left: -204px; // (width / 2) - (button width / 2)
        width: 450px;
        max-height: 500px;
        min-width: 300px;
        position: absolute;
        background: #0d1016;
        border: 1px solid #5a606f;
        z-index: 100;
        padding: 20px;
        opacity: 0;

        &.active {
            display: block;
            opacity: 1.0;
        }

        .tooltip-triangle {
            top: -15px;
            left: 215px;
            position: absolute;
            width: 22px;
            height: 15px;
            //background: black;
            background: url("/assets/images/tooltip-triangle.png");
        }

        & .title {
            text-align: center;
            padding: 10px 40px;

            .divider {
                width: 180px;
                height: 1px;
                background: #5a606f;
                margin: 20px auto;
            }
        }

        ul {
            width: 100%;
            font-size: 12px;
            margin-bottom: 20px;
            padding-left: 15px;
            padding-right: 15px;
            li {
                line-height: 1.3em;
                position: relative;
                display: inline-block;
                padding: 0px 10px;

                &.cols-1 {
                    width: 100%;
                }
                &.cols-2 {
                    width: 49%;
                }
                i {
                    font-size: 18px !important;
                    padding-right: 4px;
                }
                input {
                    position: absolute;
                    left: -12px;
                }
            }
        }
    }
}

.search-bar-wrapper {
    display: inline-block;
    margin-right: 30px;
    input {
        width: 500px;
    }
}