$blur-radius : 30px;

canvas {
    display: block;
    vertical-align: bottom;
}

#top-content-wrapper {

    height: 350px;
    width: 100%;
    margin-top: -24px;

    .hero-stat-summary {
        height: 100%;
        vertical-align: top;
        display: inline-table;
        align-items : center;
        justify-content: center;
        width: 33%;
        text-align: center;
        padding: 20px;

        &:nth-child(even) {
            background: #10131B;
        }

        .stat-content-wrapper {
            display: table-cell;
            vertical-align: middle;

            span {
                font-family: $font-condensed, sans-serif, Arial;
                font-weight: 100;
                color: #5a606f;
            }

            p {
                line-height: 1.2em;
                margin-top: 5px;
                color: #fff;
                font-weight: 400;
                font-size: 2.5em;
                padding: 0px 20px;
                overflow: hidden;
                text-overflow: ellipsis;

                & a:hover {
                    cursor: pointer;
                }

                &.stat-link {
                    font-size: 1em;
                    font-weight: 100;
                    font-family: $font-condensed, sans-serif, Arial;
                    color: #5a606f;
                    padding: 0px;
                    margin-top: -12px;
                }
            }
        }
    }
}

#gauge-container {
    width: 49%;
    float: right;
    max-height: 350px;
    overflow: hidden;
    position: relative;

    .gauge {
        width: 300px;
        height: 350px;
        pointer-events: none;
        position: relative;
        display: inline-block;

        div:first-child {
            top: -50px;
        }
    }
}

#particle-layer {
    top: 0;
    position: absolute;
    width: 100%;
    height: 85%;
    background-size: cover;
    background: transparent no-repeat 50% 50%;
    z-index: -1;
}

#graph-wrapper, #abilities-wrapper {
    .section-heading {
        padding-top: 100px;
    }
}
.hero-container {
    width: 1350px;
    min-height: 800px;
    position: relative;

    #hero-background {
        width: 100%;
        height: 100%;
        position: absolute;
        margin-top: -42px;
    }

    #hero-model-wrapper {
        position: absolute;
        max-width: 600px;
        width: 600px;
        right: 0;
        top: 0;
        height: 100%;
        z-index: 0;

        #hero-model {
            position: absolute;
            width: 900px;
            height: 600px;
            top: 150px;
            left: -50%;
            text-align: center;

            #blur {
                position: absolute;
                bottom: -11px;
                left: 0;
                z-index: 5;
                width: 100%;
                height: 100px;
                background: rgba(8, 9, 13, 1.0);
                -webkit-filter: blur(11px);
                -moz-filter: blur(11px);
                -ms-filter: blur(11px);
                -o-filter: blur(11px);
                filter: blur(11px);
            }
        }
    }

    #left-wrapper {
        max-width: 650px;
        width: 600px;
        height: 100%;
        top: 0px;
        position: absolute;
        z-index: 10;

        #blur-layer {
            position: absolute;
            top: -10px;
            width: 100%;
            height: 100%;
            z-index: 5;
            top: -$blur-radius;
            left: -$blur-radius;
            background: rgba(8, 9, 13, 0.8);
            -webkit-filter: blur($blur-radius);
            -moz-filter: blur($blur-radius);
            -ms-filter: blur($blur-radius);
            -o-filter: blur($blur-radius);
            filter: blur($blur-radius);
        }

        #hero-stats {
            padding: 20px 5px;
            max-width: 500px;
            position: relative;
            top: 50px;
            z-index: 10;

            h1 {
                padding-bottom: 25px;
                margin-bottom: 25px;
                border-bottom: 2px solid #444;
            }

            .attributes {
                margin-top: 10px;
                .attribute {
                    display: inline-block;
                    width: 48%;
                    vertical-align: top;
                    label {
                        color: white;
                        font-size: 18px;
                        margin-bottom: 25px;
                    }
                    &:first-of-type {
                        margin-right: 4%;
                    }
                }
                .affinities {
                    font-size: 72px;
                    .pgg {
                        &:first-of-type {
                            margin-right: 15px;
                        }
                    }
                }
            }
            #overview {
                padding-top: 10px;

                li {
                    font-size: 1em;
                    &.parent-list {
                        display: inline-block;
                        width: 48%;

                        & span {
                            font-size: 1.2em;
                        }

                        ul {
                            margin-top: 10px;
                        }
                    }
                }
            }

            #rank-slider {
                margin: 50px 0;
            }

            #stat-container {
                li {
                    padding-bottom: 20px;
                    display: inline-block;
                    width: 49%;
                    span {
                        font-size: 18px;
                        &.scaling {
                            color: #5a606f;
                        }
                    }
                }
            }
        }
    }
}
