$blur-radius : 30px;

canvas {
    display: block;
    vertical-align: bottom;
}

#hero-wrapper {
    position: relative;
}

#top-content-wrapper {
    height: 350px;
    width: 100%;
    margin-top: -24px;

    .hero-stat-summary {
        height: 100%;
        vertical-align: top;
        display: inline-table;
        align-items : center;
        justify-content: center;
        width: 33%;
        text-align: center;
        padding: 20px;

        &:nth-child(even) {
            background: #10131B;
        }

        .stat-content-wrapper {
            display: table-cell;
            vertical-align: middle;

            span {
                font-family: $font-condensed, sans-serif, Arial;
                font-weight: 100;
                color: #5a606f;
            }

            p {
                line-height: 1.2em;
                margin-top: 5px;
                color: #fff;
                font-weight: 400;
                font-size: 2.5em;
                padding: 0px 20px;
                overflow: hidden;
                text-overflow: ellipsis;

                & a:hover {
                    cursor: pointer;
                }

                &.stat-link {
                    font-size: 1em;
                    font-weight: 100;
                    font-family: $font-condensed, sans-serif, Arial;
                    color: #5a606f;
                    padding: 0px;
                    margin-top: -12px;
                }
            }
        }
    }
}

#gauge-container {
    width: 49%;
    float: right;
    max-height: 350px;
    overflow: hidden;
    position: relative;

    .gauge {
        width: 300px;
        height: 350px;
        pointer-events: none;
        position: relative;
        display: inline-block;

        div:first-child {
            top: -50px;
        }
    }
}

#particle-layer {
    top: 0;
    position: absolute;
    width: 100%;
    height: 85%;
    background-size: cover;
    background: transparent no-repeat 50% 50%;
    z-index: -1;
}

#graph-wrapper, #abilities-wrapper {
    .section-heading {
        padding-top: 100px;
    }
}
.hero-container {
    min-height: 800px;

    @media (max-width: $media-tablet) {
        min-height: 0;
    }

    #hero-background {
        width: 100%;
        height: 100%;
        position: absolute;
        margin-top: -42px;
    }

    #hero-model-wrapper {
        padding-top: 130px;
        width: auto;
        overflow: hidden;
        //height: 600px;
        z-index: 0;

        @media (max-width: $media-tablet) {
            display: none;
        }


        #hero-model {
            &.fallback-portrait {
                width: 250px;
                height: 250px;
                left: auto;
                overflow: hidden;
                border-radius: 50%;
                border: 1px solid #222;
                box-shadow: 0px 0px 200px 30px rgba(255, 255, 255, 0.15);
                margin: 0 auto;
            }

            &.mobile-portrait {
                width: 150px;
                height: 150px;
                margin: 0 auto;
                border-radius: 50%;
                border: 1px solid #222;
                box-shadow: 0px 0px 200px 30px rgba(255, 255, 255, 0.15);
                overflow: hidden;
            }

            .preload-container {

                img {
                    &.visible {
                        width: auto;
                        position: static;
                    }
                }
                .spinner-container {
                    &.hidden {
                        display: none;
                    }
                    height: 600px;
                }
            }
        }
    }

    #left-wrapper {
        float: left;
        max-width: 650px;
        width: 600px;
        z-index: 10;

        @media (max-width: $media-wide) {
            width: 400px;
        }
        @media (max-width: $media-tablet) {
            width: 100%;
            max-width: none;
            max-width: none;
            margin-bottom: 80px;
            #hero-stats {
                max-width: none !important;
            }
        }

        #blur-layer {
            position: absolute;
            top: -10px;
            width: 100%;
            height: 100%;
            z-index: 5;
            top: -$blur-radius;
            left: -$blur-radius;
            background: rgba(8, 9, 13, 0.8);
            -webkit-filter: blur($blur-radius);
            -moz-filter: blur($blur-radius);
            -ms-filter: blur($blur-radius);
            -o-filter: blur($blur-radius);
            filter: blur($blur-radius);
        }

        #hero-stats {
            padding: 20px 5px;
            max-width: 500px;
            margin-top: 50px;

            @media (max-width: $media-tablet) {
                margin-top: 0;
            }

            h1 {
                padding-bottom: 25px;
                margin-bottom: 25px;
                border-bottom: 2px solid #444;
            }

            .attributes {
                margin-top: 10px;
                .attribute {
                    display: inline-block;
                    width: 48%;
                    vertical-align: top;
                    label {
                        color: white;
                        font-size: 18px;
                        margin-bottom: 25px;
                    }
                    &:first-of-type {
                        margin-right: 4%;
                    }
                }
                .affinities, .roles {
                    font-size: 72px;
                    .pgg {
                        &:first-of-type {
                            margin-right: 15px;
                        }
                        &:nth-of-type(3) {
                            display: none;
                        }
                    }
                }
                .roles {
                    color: white;
                }
                @media (max-width: $media-mobile) {
                    .attribute {
                        width: 100%;
                    }
                }
            }
            #overview {
                padding-top: 10px;

                li {
                    font-size: 1em;
                    &.parent-list {
                        display: inline-block;
                        width: 48%;

                        & span {
                            font-size: 1.2em;
                        }

                        ul {
                            margin-top: 10px;
                        }
                    }
                }
            }

            #rank-slider {
                margin: 50px 0;
            }

            #stat-container {
                li {
                    padding-bottom: 20px;
                    display: inline-block;
                    width: 49%;
                    span {
                        font-size: 18px;
                        &.scaling {
                            color: #5a606f;
                        }
                    }
                }
            }
            @media (max-width: $media-mobile) {
                #rank-slider {
                    display: none; // until we figure out why it bugs on mobile
                }
                #stat-container {
                    text-align: left;
                    margin-top: 40px; // until we add hero roles
                }
            }
        }
    }
}
