// Component specific styles
#player-stats-overview {
    margin: 20px 0 30px;
    .visible {

    }
    .hidden {
        display: none;
    }
    .fa-twitch {
        color: $font-color-faded;
    }
    .live {
        animation: flash 2s infinite linear;
        color: $secondary-highlight;
    }
    .ReactTabs__Tab--selected .live {
        animation: none !important;
    }
    #eloChange {
        height: 500px;
    }
    .twitchembed {
        width: 100%;
        height: 512px;
    }
}
