.select-menu {
    cursor: pointer;
    display: block;
    float: right;
    vertical-align: middle;
    font-size: 16px;
    font-family: $font-condensed;
    font-weight: 100;
    position: relative;
    &:hover {
        span.value-label {
            color: $secondary-highlight;
        }
    }

    span {
        color: $font-color-faded;

        .value-label {
            color: white;
        }
        i {
            color: white;
            margin-top: -17px;
            position: relative;
            top: -4px;
            font-size: 18px;
        }
    }

    .menu {
        position: absolute;
        z-index: -50000;
        max-height: 200px;
        height: 0;
        width: 200px;
        opacity: 0;
        right: 0;
        color: white;
        transition: all 100ms ease-in-out;

        li {
            transition: all 350ms ease-in-out;
            padding: 5px 15px;
            margin: 0;
            background: $panel-color;
            border: 1px solid $faded-line;
            &:nth-child(odd) {
                border-top: none;
                border-bottom: none;
            }
            &:nth-child(1) {
                border-top: 1px solid $faded-line;
            }
            &:nth-last-child {
                border-bottom: 1px solid $faded-line;
            }

            &:hover {
                background: lighten($panel-color, 4%);
            }
        }

        &.active {
            z-index: 555;
            opacity: 1;
            height: 200px;
        }
    }
}
