// Component specific styles
#stats-overview {
    table td {
        &:nth-of-type(1) {
            color: $font-color-faded;
        }
        &:nth-of-type(3) {
            font-weight: bold;
            color: $font-color-emphasis;
        }
        &:nth-of-type(4) {
            color: #a8ff00;
        }
        &:nth-of-type(5) {
            color: #ff2a00;
        }
    }
}