.Tabbable {
    .Tabbable__Tab {
        display: inline-block;
        background: $panel-color-dark;
        color: $font-color-base;
        padding: 15px 20px;
        font-size: 14px;
        margin-left: 1px;
        margin-bottom: 0;
        border: none;
        bottom: 0;
        outline: none;
        user-select: none;
        cursor: pointer;
        &.selected {
            background: $panel-color;
            color: $font-color-emphasis;
            border-radius: 0;
            font-weight: 600;
            margin-left: 0;
        }
        &:focus {
            box-shadow: none;
            border: none;
            &:after {
                display: none;
            }
        }
    }
    .Tabbable__TabList {
        margin-bottom: 0;
        border-bottom: 0;
    }
    .Tabbable__TabPanel {
        background: $panel-color;
        padding: 20px;
    }
    &.padless {
        .Tabbable__TabPanel {
            padding: 0;
        }
    }
}
