&.ability-selection {
    margin-bottom: 30px;
    background: $panel-color-dark;
    th {
        font-weight: bold;
        background: $panel-color;
    }
    td,th {
        padding: 10px;
        border: 1px solid $faded-line;
        text-align: center;
    }
    .mini-icon {
        width: 20px;
        vertical-align: middle;
    }
    input[type="radio"] {
        margin: 0;
        border: 2px solid #f60;
    }
}