#sidebar {
    .article-preview {
        margin: 0 0 20px;
        background: url('/assets/example-article-background.jpg');
        background-size: cover;
        min-height: 150px;
        .preview-details {
            padding: 10px 15px;
        }
    }
}
.article-preview {
    background: #222;
    display: inline-block;
    max-width: 430px;
    width: 100%;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 242px;
    position: relative;
    transition: all 0.3s;
    //background: url('/assets/example-article-background.jpg');
    background: #333;
    //&:nth-of-type(3), &:nth-of-type(5), &:nth-of-type(8n) {
    //    margin-right: 0;
    //}
    &:hover {
        filter: brightness(130%);
    }
    &.large {
        float: left;
        width: 430px;
        height: 517px;
        background-size: cover;
        .preview-details {
            .heading h2 {
                font-size: 28px;
                line-height: 34px;
            }
        }
    }
    .preview-details {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px;
        .date {
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        .heading h2 {
            font-size: 20px;
            line-height: 24px;
        }
        .snippet {
            font-size: 14px;
            line-height: 130%;
        }
        background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    }
}

