#sidebar {
    .article-preview {
        margin: 0 0 20px;
        background: url('/assets/example-article-background.jpg');
        background-size: cover;
        min-height: 150px;
        .preview-details {
            padding: 10px 15px;
        }
    }
}
.article-preview {
    display: inline-block;
    max-width: 430px;;
    margin-bottom: 30px;
    transition: filter 0.2s;
    &:hover {
        filter: brightness(120%);
    }
    &.large {
        float: left;
        width: 430px;
        height: 517px;
        background-size: cover;
        .preview-details {
            .heading h2 {
                font-size: 28px;
                line-height: 34px;
            }
        }
    }
    //position: absolute;
    //padding: 20px;
    overflow: hidden;
    .date {
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .article-image {
        img {
            width: auto;
            height: auto;
            vertical-align: top;
        }
    }
    .heading {
        background: $panel-color;
        h2 {
            padding: 20px;
            font-size: 20px;
            line-height: 24px;
        }
    }
    .snippet {
        font-size: 14px;
        line-height: 130%;
    }
}

