#sidebar {
    .article-preview {
        margin: 0 0 20px;
        background: url('/assets/example-article-background.jpg');
        background-size: cover;
        min-height: 150px;
        .preview-details {
            padding: 10px 15px;
        }
    }
}
.article-preview {
    display: inline-block;
    max-width: 430px;
    min-height: 200px;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #222222;
    transition: filter 0.2s, border-color 0.3s;
    &:hover {
        filter: brightness(120%);
        border: 1px solid $faded-line;
    }

    .preview-image {
        img {
            vertical-align: top;
            width: 100%;
        }
    }

    .preview-title {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 40px 20px 15px;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#111111+0,111111+100,0d1016+100&0+0,0.9+50,0.9+100 */
        background: -moz-linear-gradient(top,  rgba(17,17,17,0) 0%, rgba(15,17,20,0.9) 50%, rgba(13,16,22,0.9) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(17,17,17,0) 0%,rgba(15,17,20,0.9) 50%,rgba(13,16,22,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(17,17,17,0) 0%,rgba(15,17,20,0.9) 50%,rgba(13,16,22,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00111111', endColorstr='#e60d1016',GradientType=0 ); /* IE6-9 */

        h2 {
            font-size: 20px;
            line-height: 24px;
        }
    }
    .snippet {
        font-size: 14px;
        line-height: 130%;
    }
}

