.btn {
    display: inline-block;

    padding: 10px 14px;
    background: none;
    cursor: pointer;

    border: 1px solid white;
    color: white;
    border-radius: 0px;
    transition: all 0.3s;
    text-transform: uppercase;
    font-size: 12px;
    transition: color 0.2s, border-color 0.2s;

    margin-right: 10px;
    &.active {
        color: $secondary-highlight !important;
        border-color: $secondary-highlight !important;
    }
    &.btn-warning {
        color: $primary-highlight;
        border-color: $primary-highlight;
    }
    &.btn-faded {
        color: $font-color-faded;
        border-color: $faded-line;
    }
    &.btn-warning-hover:hover {
        color: $primary-highlight !important;
        border-color: $primary-highlight !important;
    }
    &.btn-margin {
        margin-top: 20px;
    }
    &.btn-margin-bottom {
        margin-bottom: 30px;
    }
    &.btn-tall {
        padding: 15px;
    }
    &.btn-small {
        font-family: $font-condensed;
        font-size: 13px;
        padding: 6px 10px;
    }
    &.btn-icon {
        .fa {
            margin-right: 0;
        }
    }
    &.btn-half {
        width: 48%;
        margin-right: 4%;
        text-align: center;
        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }
    &.btn-full {
        width: 100%;
        text-align: center;
    }
    .fa {
        margin-right: 5px;
    }
    &:hover {
        color: $secondary-highlight;
        border-color: $secondary-highlight;
    }
}
