.tooltip-wrapper {
    z-index: 999999;
    opacity: 0;
    transition: opacity 100ms ease-out !important;
    pointer-events: none !important;
}
.tooltip-fade-show {
    transition: opacity 100ms ease-in !important;
    opacity: 1;
}

.card-tooltip {
    max-width: 400px;
    background: #1e1e1e;
    min-width: 360px;
    width: 400px;
    border: 1px solid rgba(152, 176, 222, 0.1);
    border-radius: 4px;
    cursor: default;
    .head-bar {
        padding: 14px 16px;
        height: 100px;

        .head-card-name {
            font-size: 28px;
        }
        .head-card-row:first-of-type {
            margin-top: 10px;
        }
        .head-card-row {
            padding: 6px 0px;
            span:nth-child(2) {
                float: right;
            }
        }
    }
    .card-content {
        padding: 16px 16px;
        background: #171717;
        margin-top: 22px;
    }
}
