.hidden {
    opacity: 0.0;
}
.fadeIn {
    -webkit-transition: 750ms;
       -moz-transition: 750ms;
        -ms-transition: 750ms;
         -o-transition: 750ms;
            transition: 750ms;
    opacity: 1.0;
}
.fadeOut {
    -webkit-transition: 750ms;
       -moz-transition: 750ms;
        -ms-transition: 750ms;
         -o-transition: 750ms;
            transition: 750ms;
    opacity: 0.0;
}

.card-tooltip {
    max-width: 500px;
    background: #1e1e1e;
    min-width: 360px;
    border: 1px solid rgba(152, 176, 222, 0.1);
    border-radius: 4px;

    .head-bar {
        padding: 14px 16px;
        height: 100px;

        .head-card-name {
            font-size: 28px;
        }
        .head-card-row:first-of-type {
            margin-top: 10px;
        }
        .head-card-row {
            padding: 6px 0px;
            span:nth-child(2) {
                float: right;
            }
        }
    }
    .card-content {
        padding: 16px 16px;
        background: #171717;
        margin-top: 22px;
    }
}
.head-card-name {
    font-size: 20px;

}
