#drag-inactive {
    opacity: 0.25;
}

#drag-tooltip-container {
    opacity: 0.5;
}

.droppable {
    opacity: 1.0;
    border-left: 5px solid $tertiary-highlight !important;
    transition: none !important;
}

.droppable-hidden {
    opacity: 0.8;
    border-left: none !important;
}