ul {
    li {
        margin-bottom: 10px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &.social {
        .fa {
            margin-right: 5px;
        }
    }
    &.default {
        margin-bottom: 20px;
        list-style: disc inside;
        li {
            list-style: disc inside;
        }
    }
}