.notification-panel {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100%;
    max-width: 350px;
    z-index: 1337;
}
.notification {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 1;
    cursor: pointer;
    animation: fadeOut 5s linear forwards;
    background: $panel-color;
    &.notification-success {
        border-left: 5px solid $green;
    }
    &.notification-info {
        border-left: 5px solid $secondary-highlight;
    }
    &.notification-warning {
        border-left: 5px solid $primary-highlight;
    }
    &.notification-danger {
        border-left: 5px solid $primary-highlight;
    }
    .fa.fa-times {
        position: absolute;
        top: 10px;
        right: 15px;
    }
}
.global-notification {
    background: $panel-color;
    border-left: 5px solid $primary-highlight;
    padding: 20px;
    width: 100%;
    margin-bottom: 50px;
    .fa {
        margin-right: 10px;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        transform: translateY(0px);
    }
    99% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(-99999px);
        opacity: 0;
    }
}
