.pgg-tooltip-card {
    background: black;
    max-width: 400px;
    min-width: 350px;
    border: 1px solid $faded-line;
    cursor: default;
    box-shadow: 0px 0px 2.75px 0.25px rgba(0, 0, 0, 0.4);
    .card-head {
        padding: 15px;
        background: $panel-color-dark;
        position: relative;
        .heading {
            vertical-align: middle;
        }
        .cost {
            float: left;
            font-size: 50px;
            line-height: 38px;
            color: $font-color-faded;
            margin-right: 10px;
        }
        .name {
            display: block;
            color: white;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .type {
            font-size: 15px;
            font-family: $font-condensed;
        }
        .rarity {
            font-size: 15px;
            font-family: $font-condensed;
            color: $font-color-faded;
            margin-right: 5px;
            &.rarity-common {
                color: white;
            }
            &.rarity-uncommon {
                color: #47d95f;
            }
            &.rarity-rare {
                color: #477ed9;
            }
            &.rarity-epic {
                color: #b547d9;
            }
        }
        .affinity {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 48px;
        }
    }
    .content {
        padding: 15px;
        line-height: 20px;
        .actipassive {
            color: $tertiary-highlight;
            font-style: italic;
        }
        .maxedEffects {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #222;
            label {
                font-family: $font-condensed;
                color: $tertiary-highlight;
                font-size: 13px;
                text-transform: uppercase;
                margin-bottom: 5px;
            }
        }
    }
}