#toptip {
    display: inline-block;
    z-index: 1340;
    position: absolute;
    display: none;
    pointer-events: none !important;
}

@media screen and (max-width: $media-tablet) {
    #toptip {
        z-index: 9999999;
    }
}