# supervisor
#
# Author: Günter Grodotzki <gunter@grodotzki.co.za>
# Version: 2015-04-25
#
# set param "SUPERVISE=enable" to activate
#
packages:
  yum:
    npm: []
container_commands:
  01-install:
      command: npm install
      cwd: "/var/app/ondeck"
  02-buildions:
      command: npm run build
      cwd: "/var/app/ondeck"