# node
#
# Author: Jamie Shepherd <hello@jamie.sh>
#

commands:
  01-installNode:
    command: curl --silent --location https://rpm.nodesource.com/setup_6.x | bash - && yum -y install nodejs
container_commands:
  01-selfUpdate:
    command: npm update npm -g
    ignoreErrors: true
  02-install:
    command: npm install
    ignoreErrors: true
  03-globalWebpack:
      command: npm install webpack -g
      ignoreErrors: true
  04-build:
    command: npm run build