# node
#
# Author: Jamie Shepherd <hello@jamie.sh>
#

#commands:
  #01-installNode:
  #  command: curl --silent --location https://rpm.nodesource.com/setup_6.x | bash -
  #02-installNode:
  #  command: yum -y install nodejs
#container_commands:
  #01-selfUpdate:
  #  command: npm update npm -g
  #  ignoreErrors: true
  #02-install:
  #  command: sudo npm install
  #  ignoreErrors: true
  #04-build:
  #  command: sudo npm run build